absl-py==2.1.0
annotated-types==0.7.0
anthropic==0.55.0
anyio==4.9.0
asgiref==3.8.1
attrs==25.1.0
bcrypt==4.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
Brotli==1.1.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
contourpy==1.3.1
cryptography==45.0.5
cycler==0.12.1
distro==1.9.0
et_xmlfile==2.0.0
faiss-cpu==1.11.0
fastapi==0.116.1
filelock==3.18.0
flash==1.0.3
Flask==3.1.1
fonttools==4.55.8
fsspec==2025.5.1
greenlet==3.2.3
gTTS==2.5.4
h11==0.16.0
hf-xet==1.1.5
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.33.4
idna==3.10
immutabledict==4.2.1
importlab==0.8.1
inflate64==1.0.3
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.10.0
joblib==1.5.1
kiwisolver==1.4.8
libcst==1.6.0
lxml==6.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
mpmath==1.3.0
msgspec==0.19.0
multivolumefile==0.2.3
narwhals==1.25.2
networkx==3.4.2
ninja==1.11.1.3
numpy==2.2.2
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
ollama==0.5.1
openai==1.93.0
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
paramiko==3.5.1
perfetto==0.11.0
pillow==11.3.0
plotly==6.0.0
protobuf==5.29.3
psutil==7.0.0
psycopg2-binary==2.9.10
py7zr==1.0.0
pybcj==1.0.6
pycnite==2024.7.31
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
pydot==3.0.4
pydub==0.25.1
PyJWT==2.10.1
PyMuPDF==1.26.3
PyNaCl==1.5.0
pyparsing==3.2.1
pyppmd==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytype==2024.10.11
pytz==2025.1
PyYAML==6.0.2
pyzstd==0.17.0
qrcode==8.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.16.0
sentence-transformers==5.0.0
setuptools==75.8.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.7
SQLAlchemy==2.0.41
starlette==0.47.1
sympy==1.14.0
tabulate==0.9.0
texttable==1.7.0
threadpoolctl==3.6.0
tokenizers==0.21.2
toml==0.10.2
torch==2.7.1
tqdm==4.67.1
transformers==4.53.2
triton==3.3.1
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.1
urllib3==2.4.0
uvicorn==0.35.0
Werkzeug==3.1.3
wheel==0.45.1
